body { 
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    background: linear-gradient(-45deg, rgba(0,74,173,1), rgba(140,82,255,1));
    background-size: 400% 500%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% {
        opacity: 1; 
    } 
}

.navbar {
    width: 100%;
    /* transform: translate(115%, 0%); */
    /* margin-left: 30%; (100 - width) / 2 */
    height: 10%;
    padding-top: 2%;
    margin-left: 0;
    position: static;
}

ul#menu {
    list-style: none;
    font-weight: 500;
    font-size: 1.175vw; /* 18px */
    float: right;
}

ul#menu li {
    display: inline;
    /*margin: auto;*/
}

#nav-home {
    width: 50px;
    height: 50px;
    position: fixed;
    transform: translate(20px, 0px);
}

#nav-home:hover {
    cursor: pointer;
}

.nav-list-item {
    margin-right: 10px;
}

.nav-button {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0.75em 1em; /* top/bottom, left/right */
    transition: all 0.2s;
}

.nav-button:hover {
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background-color: rgba(255, 255, 255, 0.082);
}

#header {
    z-index: 0;
    /* background: linear-gradient(135deg, rgba(0,74,173,1) 0%, rgba(140,82,255,1) 100%); */
    text-align: center;
    color: white;
    margin: auto;
    width: 900px;
    height: 700px;
}

.main-button {
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(139, 209, 109);
    padding: 15px 40px;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.main-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ffffff;
    height: 8px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main-button:hover:before, .main-button:focus:before, .main-button:active:before {
    left: 0;
    right: 0;
}

.main-button:hover {
    color: white;
    text-decoration: none;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 50px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 5px;	
	animation: arrow 10s infinite ease-in-out;
	-webkit-animation: arrow 10s infinite ease-in-out;
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-2s;
	-webkit-animation-delay:-2s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#about {
    background-color: white;
    padding: 50px;
}