::selection {
    background: rgba(118, 250, 255, 0.164);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(242, 242, 242);
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(139, 209, 109);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(115, 172, 90);
}

body { 
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    /* background: linear-gradient(-45deg, rgba(0,74,173,1), rgba(140,82,255,1)); */
    background: rgb(242, 242, 242);
    /* animation: gradient 10s ease infinite; */
    margin: 0;
    
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% {
        opacity: 1; 
    } 
}

.navbar {
    width: 100%;
    /* transform: translate(115%, 0%); */
    /* margin-left: 30%; (100 - width) / 2 */
    height: 10%;
    padding-top: 2%;
    margin-left: 0;
    position: static;
}

ul#menu {
    list-style: none;
    font-weight: 500;
    font-size: 1.175vw; /* 18px */
    float: right;
}

ul#menu li {
    display: inline;
    /*margin: auto;*/
}

#nav-home {
    width: 50px;
    height: 50px;
    position: fixed;
    transform: translate(20px, 0px);
}

#nav-home:hover {
    cursor: pointer;
}

.nav-list-item {
    margin-right: 10px;
}

.nav-button {
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    padding: 0.75em 1em; /* top/bottom, left/right */
    transition: all 0.2s;
}

.nav-button:hover {
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background-color: rgba(255, 255, 255, 0.082);
}

#header {
    z-index: 0;
    /* background: linear-gradient(135deg, rgba(0,74,173,1) 0%, rgba(140,82,255,1) 100%); */
    text-align: center;
    color: white;
    margin: auto;
    width: 900px;
    height: 700px;
}

.bg {
    animation: slide 9s ease-in-out infinite alternate;
    background-image: linear-gradient(60deg, rgb(90, 92, 231) 50%, rgba(0,74,173,1) 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
  
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 12s;
}
  
.bg3 {
    animation-duration: 15s;
}
  
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

#banner {
    width: 900px;
}

#banner:hover {
    cursor: pointer;
}

.main-button {
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(139, 209, 109);
    padding: 15px 40px;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 32px;
    border-radius: 50px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.main-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ffffff;
    height: 8px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.main-button:hover:before, .main-button:focus:before, .main-button:active:before {
    left: 0;
    right: 0;
}

.main-button:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.5);
}

.main-button-offset {
    margin-right: 20px;
}

#about {
    background-color: rgb(242, 242, 242);
    padding: 60px;
}

.section-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 60px;
    padding-left: 50px;
    color: rgb(90, 92, 231);
}

.panel {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

#about-subtitle {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgb(57, 58, 88);
}

#about-body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: rgb(57, 58, 88);
}

.section-subtitle {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    color: rgb(139, 209, 109);
}

.section-body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: rgb(57, 58, 88)
}

.theme-note {
    padding: 0px 200px;
}

#themes-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.theme {
    width: 500px;
    background: linear-gradient(135deg, rgba(140,82,255,1) 0%, rgba(0,74,173,1) 100%);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    color: white;
}

.experimentation {
    width: 1040px;
}

.theme-title {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.theme-list {
    text-align: left;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
}

.theme-body {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#metrics {
    text-align: center;
}

.metric {
    width: 250px;
    height: 150px;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.metrics-subtitle {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 80px;
    color: rgb(90, 92, 231);
    line-height: 0.4;
}

.metrics-body {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(57, 58, 88);
}

#winners-button {
    background: linear-gradient(135deg, rgba(140,82,255,1) 0%, rgba(0,74,173,1) 100%);
    color: white;
    font-family: 'Barlow', sans-serif;
    border-radius: 50px;
    width: 350px;
    font-size: 32px;
    font-weight: 600;
    margin: auto;
    padding: 10px 20px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#winners-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}

#winners-link {
    color: white;
    padding: 10px 29px;
}

#winners-link:hover {
    text-decoration: none;
    color: white;
}

#schedule {
    background-color: rgb(242, 242, 242);
    padding: 60px;
}

#schedule-note {
    display: block;
    font-style: italic;
    color: rgb(57, 58, 88);
    font-weight: 500;
    padding-left: 50px;
    font-family: 'Libre Franklin', sans-serif;
}

.schedule-day {
    margin-bottom: 80px;
}

.schedule-day-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: left;
    padding-left: 30px;
    color: rgb(57, 58, 88);
}

.schedule-row {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    color: white;
    background-color: rgb(231, 231, 231);
    font-family: 'Barlow', sans-serif;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
}

.schedule-row:hover {
    cursor: pointer;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}

.schedule-time {
    background-color: rgb(90, 92, 231);
    width: 25%;
    height: 100px;
    padding: 20px;
    text-align: right;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    font-size: 40px;
    transition: all 0.2s ease-in-out;
}

.schedule-event {
    background-color: rgb(139, 209, 109);
    width: 75%;
    height: 100px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    font-size: 40px;
    transition: all 0.2s ease-in-out;
}

.schedule-info {
    text-align: left;
    padding: 0px 50px;
    color: rgb(57, 58, 88);
    display: none;
}

.schedule-detail {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

#sponsors {
    background-color: rgb(242, 242, 242);
    padding: 50px;
}

#sponsors-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: rgb(90, 92, 231);
    text-align: center;
}

#sponsors-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sponsor {
    margin: 30px;
    transition: all 0.2s ease-in-out;
}

.sponsor:hover {
    transform: scale(1.05);
    box-shadow: none;
}

#hackplus {
    width: 30%;
}

.reg {
    width: 27.5%;
}

#framer {
    margin-left: 8.3vw;
    margin-right: -5.3vw;
    transform: scale(1.5);
    z-index: 1;
}

#framer:hover {
    transform: scale(1.6);
}

#aops {
    z-index: 2;
}

/* #wolfram-language {
    width: 25%;
}

#onepassword {
    width: 25%;
}

#taskade {
    width: 25%;
}

#framer {
    width: 25%;
}

#aops {
    width: 25%;
}

#echoAR {
    width: 25%;
}

#balsamiq {
    width: 25%;
}

#inside-dev {
    width: 25%;
} */

.sponsor:hover {
    cursor: pointer;
    transform: scale(1.05);
    /* box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25); */
}

#team {
    background: linear-gradient(135deg, rgba(140,82,255,1) 0%, rgba(0,74,173,1) 100%);
    padding: 60px;
    text-align: center;
}

.team-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: white;
}

#team-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.team-div {
    width: 400px;
    margin: 20px;
}

.team-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: 15px white solid;
    transition: all 0.2s ease-in-out;
}

.team-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 50px 0 rgba(255, 255, 255, 0.5);
}

.team-subtitle {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
}

.team-body {
    margin-top: -10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(242, 242, 242);
}

#faqs {
    background-color: rgb(242, 242, 242);
    padding: 60px;
}

#faqs-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.faq {
    width: 600px;
    background: linear-gradient(25deg, rgba(140,82,255,1) 0%, rgba(0,74,173,1) 100%);
    margin: 15px;
    border-radius: 10px;
    padding: 20px;
    align-self: flex-start;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.faq:hover {
    cursor: pointer;
    transform: scale(1.035);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}

.faq-subtitle {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
    text-align: left;
}

.faq-answer {
    background-color: rgb(231, 231, 231);
    margin: -20px;
    margin-top: 20px;
    padding: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

.faq-body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: rgb(57, 58, 88);
    text-align: left;
}

.link {
    color: rgb(139, 209, 109);
    transition: all 0.1s ease-in-out;
}

.link:hover {
    color: rgb(115, 172, 90);
}

.side-note {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: rgb(57, 58, 88);
}

#footer {
    background-color: rgb(26, 26, 26);
}

#footer-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-section {
    width: 700px;
    padding: 60px;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
}

.footnote {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.copyright {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
}

#links-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.social-button {
    /* background: linear-gradient(135deg, rgba(140,82,255,1) 0%, rgba(0,74,173,1) 100%); */
    font-family: 'Barlow', sans-serif;
    border-radius: 50px;
    padding: 10px 20px;
    width: 250px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.social-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}

.social-link {
    color: white;
}

.social-link:hover {
    text-decoration: none;
    color: white;
}

.email {
    background-color: rgb(139, 209, 109);
}

.discord {
    background-color: #7289DA;
}

.devpost {
    background-color: #063768;
}

.instagram {
    background: linear-gradient(135deg, rgba(138,58,185,1) 0%, rgba(188,42,141,1) 100%);
}

.facebook {
    background-color: rgb(23, 120, 242);
}

.linkedin {
    background-color: #0e76a8;
}

@media screen and (min-width: 1600px) {
    #framer {
        margin-left: 8.5vw;
        margin-right: -8vw;
        transform: scale(1.65);
    }

    #framer:hover {
        transform: scale(1.75);
    }
}

@media screen and (min-width: 1800px) {
    #framer {
        margin-left: 8.5vw;
        margin-right: -10vw;
        transform: scale(1.75);
    }

    #framer:hover {
        transform: scale(1.85);
    }
}

@media screen and (min-width: 1900px) {
    #framer {
        margin-left: 12vw;
        margin-right: -10vw;
        transform: scale(1.85);
    }

    #framer:hover {
        transform: scale(1.95);
    }
}

@media screen and (min-width: 2000px) {
    #framer {
        margin-left: 15vw;
        margin-right: -12.5vw;
        transform: scale(2);
    }

    #framer:hover {
        transform: scale(2.1);
    }
}

@media screen and (min-width: 2100px) {
    #framer {
        margin-left: 17.5vw;
        margin-right: -15vw;
        transform: scale(2.15);
    }

    #framer:hover {
        transform: scale(2.25);
    }
}

@media screen and (min-width: 2200px) {
    #framer {
        margin-left: 20vw;
        margin-right: -17.5vw;
        transform: scale(2.3);
    }

    #framer:hover {
        transform: scale(2.4);
    }
}

@media screen and (min-width: 2400px) {
    #framer {
        margin-left: 20vw;
        margin-right: -20vw;
        transform: scale(2.5);
    }

    #framer:hover {
        transform: scale(2.6);
    }
}

@media screen and (max-width: 1410px) {
    .faq {
        width: 66vw;
    }

    .footer-section {
        text-align: center;
    }
}

@media screen and (max-width: 1300px) {
    ul#menu {
        font-size: 1.5vw;
    }

    .theme {
        width: 500px;
        margin: 20px;
        padding: 20px;
    }

    #schedule {
        padding: 60px;
    }
    
    .schedule-day {
        margin-bottom: 80px;
    }
    
    .schedule-day-title {
        font-size: 4vw;
        padding-left: 0px;
        text-align: center;
    }
    
    .schedule-row {
        height: 5.5vw;
    }
    
    .schedule-time {
        width: 25%;
        height: 8vw;
        padding: 1.5vw;
        font-size: 3vw;
    }
    
    .schedule-event {
        width: 75%;
        height: 8vw;
        padding: 1.5vw;
        font-size: 3vw;
    }
    
    .schedule-info {
        padding: 0px 3vw;
    }
    
    .schedule-detail {
        font-size: 2.3vw;
    }

    #framer {
        margin-left: 5vw;
        margin-right: -3vw;
        transform: scale(1.25);
    }

    #framer:hover {
        transform: scale(1.35);
    }
}

@media screen and (max-width: 1200px) {
    #hackplus {
        width: 50%;
    }

    .reg {
        width: 50%;
    }

    #framer {
        margin-left: 40vw;
        margin-right: 0vw;
        transform: scale(1.75);
    }

    #framer:hover {
        transform: scale(1.85);
    }
}

@media screen and (max-width: 1050px) {
    ul#menu {
        font-size: 2vw;
    }

    #framer {
        margin-left: 35vw;
        margin-right: 0vw;
        transform: scale(1.75);
    }

    #framer:hover {
        transform: scale(1.85);
    }

    .team-div {
        width: 30vw;
        margin: 40px;
        margin-bottom: 20px;
    }
    
    .team-image {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    
    .team-subtitle {
        font-size: 3vw;
    }
    
    .team-body {
        margin-top: -10px;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 950px) {
    #framer {
        margin-left: 30vw;
        margin-right: 0vw;
        transform: scale(1.75);
    }

    #framer:hover {
        transform: scale(1.85);
    }
}

@media screen and (max-width: 920px) {
    ul#menu {
        font-size: 2.5vw;
    }

    #header {
        width: 100vw;
        height: 90vw;
    }

    #banner {
        width: 100vw;
        margin: auto;
    }

    .theme-note {
        padding: 0;
    }

    .schedule-time {
        height: 10vw;
        line-height: 2;
    }
    
    .schedule-event {
        height: 10vw;
        line-height: 2;
    }

    .schedule-info {
        margin-top: -20px;
    }

    .another-question {
        font-size: 5vw;
    }
}

@media screen and (max-width: 900px) {
    #framer {
        margin-left: 21vw;
        margin-right: 0vw;
        transform: scale(1.5);
    }

    #framer:hover {
        transform: scale(1.6);
    }
}

@media screen and (max-width: 840px) {
    #framer {
        margin-left: 18vw;
        margin-right: 0vw;
        transform: scale(1.5);
    }

    #framer:hover {
        transform: scale(1.6);
    }
}

@media screen and (max-width: 760px) {

    .theme {
        width: 65vw;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #schedule-note {
        font-size: 3vw;
        text-align: center;
        padding-left: 0;
    }

    .schedule-time {
        height: 11vw;
    }
    
    .schedule-event {
        height: 11vw;
    }

    .schedule-info {
        margin-top: -20px;
    }

    #hackplus {
        width: 80%;
    }

    .reg {
        width: 80%;
    }

    #framer {
        margin-left: 27vw;
        margin-right: 5vw;
        transform: scale(1.85);
    }

    #framer:hover {
        transform: scale(1.95);
    }

    .team-div {
        width: 25vw;
        margin: 20px;
    }

    .team-image {
        border: 1.5vw white solid;
    }

    .faq {
        width: 60vw;
    }


    .footer-section {
        width: 100vw;
        padding: 10vw;
        padding-bottom: 6vw;
    }
    
    .footnote {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 600;
        font-size: 7vw;
    }
    
    .copyright {
        color: white;
        font-family: 'Barlow', sans-serif;
        font-size: 4vw;
    }
    
    .social-button {
        width: 35vw;
        font-size: 4.5vw;
        margin-bottom: 2.9vw;
    }

}

@media screen and (max-width: 748px) {
    #header {
        height: 100vw;
    }

    #donate-button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 710px) {
    #framer {
        margin-left: 25vw;
        margin-right: 5vw;
        transform: scale(1.75);
    }

    #framer:hover {
        transform: scale(1.85);
    }
}

@media screen and (max-width: 675px) {
    #framer {
        margin-left: 22vw;
        margin-right: 5vw;
        transform: scale(1.75);
    }

    #framer:hover {
        transform: scale(1.85);
    }
}

@media screen and (max-width: 640px) {
    #framer {
        margin-left: 18.5vw;
        margin-right: 5vw;
        transform: scale(1.5);
    }

    #framer:hover {
        transform: scale(1.6);
    }
}

@media screen and (max-width: 600px) {    
    #nav-home {
        display: none;
    }

    ul#menu {
        font-size: 3.25vw;
    }

    .main-button {
        font-size: 5vw;
        padding: 2.5vw 20px;
    }

    .main-button:before {
        height: 1.3vw;
    }
    
    #about {
        padding: 10vw;
    }

    .section-title {
        text-align: center;
        font-size: 10vw;
        padding-left: 0px;
    }
    
    .panel {
        padding: 5vw;
    }

    #about-subtitle {
        font-size: 6.5vw;
    }

    #about-body {
        font-size: 6.5vw;
    }

    .section-subtitle {
        font-size: 10vw;
    }

    .section-body {
        font-size: 4vw;
    }
    
    .theme-title {
        font-size: 6vw;
    }
    
    .theme-list {
        font-size: 4vw;
    }
    
    .theme-body {
        font-size: 4vw;
    }

    .metric {
        width: 42vw;
        height: 25vw;
    }

    .metrics-subtitle {
        font-size: 13.3vw;
    }
    
    .metrics-body {
        font-size: 3.3vw;
    }
    
    #winners-button {
        width: 55vw;
        padding: 1.5vw 3.3vw;
        font-size: 4vw;
    }

    #schedule {
        padding: 10vw;
    }

    .schedule-time {
        height: 13vw;
        line-height: 2.5;
    }
    
    .schedule-event {
        height: 13vw;
        line-height: 2.5;
    }

    #sponsors {
        padding: 10vw;
    }

    .side-note {
        font-size: 8.3vw;
    }

    #team {
        padding: 10vw;
    }

    #faqs {
        padding: 10vw;
    }

    .faq-subtitle {
        font-size: 6.7vw;
    }
    
    .faq-answer {
        margin: -20px;
        margin-top: 20px;
        padding: 6.6vw;
    }
    
    .faq-body {
        font-size: 4vw;
    }
}

@media screen and (max-width: 550px) {
    #framer {
        margin-left: 16vw;
        margin-right: 5vw;
        transform: scale(1.4);
    }

    #framer:hover {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 515px) {
    #framer {
        margin-left: 12vw;
        margin-right: 5vw;
        transform: scale(1.25);
    }

    #framer:hover {
        transform: scale(1.35);
    }
}

@media screen and (max-width: 450px) {
    .schedule-time {
        height: 14vw;
        line-height: 3;
    }
    
    .schedule-event {
        height: 14vw;
        line-height: 3;
    }

    #framer {
        margin-left: 11vw;
        margin-right: 5vw;
        transform: scale(1.1);
    }

    #framer:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 400px) {
    .schedule-time {
        height: 16vw;
        line-height: 3.75;
    }
    
    .schedule-event {
        height: 16vw;
        line-height: 3.75;
    }

    #framer {
        margin-left: 7vw;
        margin-right: 5vw;
        transform: scale(1);
    }

    #framer:hover {
        transform: scale(1.1);
    }

    .social-button {
        width: 35vw;
        font-size: 4vw;
    }
}

@media screen and (max-width: 350px) {

    #winners-button {
        width: 55vw;
        padding: 1.5vw 3.3vw;
        font-size: 3vw;
    }

}

@media screen and (max-width: 380px) {
    #sponsor-panel {
        padding-left: 0;
        padding-right: 0;
    }

    #framer {
        margin-left: 0vw;
        margin-right: 0vw;
        transform: scale(0.85);
    }

    #framer:hover {
        transform: scale(0.95);
    }
}